<div class="container">
  <div class="left">
    <h2>{{ editMode ? 'Editar Persona' : 'Agregar Persona' }}</h2>

    <form [formGroup]="personaForm" (ngSubmit)="guardarPersona()">
      <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" formControlName="nombre" />
      </div>

      <div>
        <label for="edad">Edad:</label>
        <input type="number" id="edad" formControlName="edad" />
      </div>

      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" />
      </div>

      <button type="submit" [disabled]="personaForm.invalid">{{ editMode ? 'Actualizar' : 'Agregar' }}</button>
      <button type="button" (click)="resetFormulario()">Cancelar</button>
    </form>
  </div>

  <div class="right">
    <h3>Listado de Personas</h3>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Edad</th>
          <th>Email</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let persona of personas">
          <td>{{ persona.nombre }}</td>
          <td>{{ persona.edad }}</td>
          <td>{{ persona.email }}</td>
          <td>
            <button (click)="editarPersona(persona)">Editar</button>
            <button class="btnEliminar" (click)="eliminarPersona(persona.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>